.git
.gitignore
.gitattributes
README.md
.DS_Store
node_modules
npm-debug.log
.env
.env.local
.env.*.local
storage/logs
bootstrap/cache
tests
.editorconfig
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
